body {
  font-family: 'Ubuntu';
  background-color:#c1c2c3;
  color: #333;
  margin: 0;
  padding: 0;
}

.album-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.image-container {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 50px;
}

.album-image {
  max-width: 100%;
  max-height: 450px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

button {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50px;
  transition: background 0.3s;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev {
  top: 455px;
  left: 100px;
}

.next {
  top: 455px;
  right: 100px;
}

.alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

.name-container {
  font-family: "Alfa Slab One", serif;
  display: flex;
  flex-direction: column;
  margin-right: 19vw;
}

.header {
  font-family: 'Ubuntu';
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-evenly;
  background-color: #717276;
  padding: 20px;
  color: #000000;
}



.header h1 {
  font-size: 2em;
  margin: 0;
}

.header h2 {
  font-size: 1.5em;
  font-weight: 300;
  margin: 5px 0 0;
  color: #101010;
}

header .navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  width: 100%;
}

header .navigation nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

header .navigation nav ul li {
  font-size: 1.2rem;
}

header .navigation nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

header .navigation nav ul li a:hover {
  color: #007bff;
}

.header-logo_img {
  width: 30px;
}

.about-me {
  padding: 20px;
  margin-left: 50px;
}

.about-me h2 {
  font-size: 2em;
  color: #000000;
}

.about-me ul {
  list-style: none;
  padding: 0;
}

.about-me ul li {
  margin: 10px 0;
}

.about-me a {
  color: #000000;
}

.about-me a:hover {
  text-decoration: underline;
}

.about-me img {
  width: 30px;
}

.projects {
  padding: 20px;
  text-align: center;
}

.skills {
  padding: 20px;
  margin-left: 20px;
  margin-top: 55px;
  margin-bottom: 55px;
  background-color: #dddce1;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  flex: 1;
}

.skill h2,
.projects h2 {
  font-size: 2em;
  color: #000000;
  text-align: center; /* Ensures both h2 elements are centered */
}

.progress-container {
  display: flex;
  align-items: center;
  margin: 15px 0;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.progress-description {
  width: 150px; 
  font-size: 20px; 
  font-weight: bold; 
  margin-right: 20px;
}
.progress-bar-container {
  width: 70%; 
  height: 16px; 
  background-color: #ffffff; 
  border-radius: 20px;
  overflow: hidden;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: background-color 0.3s ease; 
}

.progress-bar {
  height: 100%;
  background-color: #000000; 
  transition: width 0.3s ease-in-out, background-color 0.3s ease; 
}

.progress-bar-container:hover {
  background-color: #f0f0f0; 
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3);
}

.progress-bar-container:hover .progress-bar {
  background-color: #6ea9e8;
}



.projects {
  padding: 20px;
  text-align: center;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  width: 250px;
  overflow: hidden;
  transition: transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card:hover {
  transform: scale(1.05);
}

.project-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.project-info {
  padding: 15px;
}

.project-info h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.project-info p {
  font-size: 1em;
  color: #555;
}

.project-link {
  display: inline-block;
  margin-top: 10px;
  color: #007BFF;
  text-decoration: none;
}

.project-link:hover {
  text-decoration: underline;
}

.Merge {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.Merge > * {
  flex: 1;
  max-width: 50%; 
}

.contact-form-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  background-color: #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 500px;
  overflow: hidden;

}

.contact-form-container h1 {
  text-align: center;
}

.contact-form-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-grow: 1;
  overflow-y: hidden;
}

.contact-form-container label {
  margin-bottom: 8px;
  font-size: 1.1em;
}

.contact-form-container input,
.contact-form-container textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  resize: vertical;
  overflow-x: hidden;
}

.contact-form-container button {
  padding: 12px;
  background-color: #1A237E;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: auto;
  position: relative;
}

.contact-form-container button:hover {
  background-color: #0d1a50;
}

.notification {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.resume {
  padding-left: 30px;
  padding-right: 30px;
  font-family: Arial, sans-serif;
}

ul {
  padding-left: 20px;
  margin-bottom: 10px; /* Lisää väliä listan jälkeen */
}

ul li {
  margin-bottom: 5px; /* Lisää väliä listan sisällä */
}

@media (min-width:2000px){

  .album-container {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .image-container {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
  }
  
  .album-image {
    max-width: 100%;
    max-height: 600px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  .prev {
    top: 605px;
    left: 100px;
  }
  
  .next {
    top: 605px;
    right: 100px;
  }

  

}

@media (min-width: 1500px) {
  .projects {
    padding: 3px 20px;
    max-width: 70%;
    margin: 0 5% 0 5%;
  }

  .progress-description {
    font-size: 18px;
  }

  .project-card {
    width: 300px; 
  }

  .projects-container {
    justify-content: space-evenly;  
  }

  .Merge {
    flex-direction: row; 
  }

  .Merge > * {
    max-width: 45%; 
  }
}




@media (max-width: 900px) {

  .image-container {
    padding-right: 20px;
  }
  
  .prev {
    top: 210px;
    left: 2px;
  }
  
  .next {
    top: 210px;
    right: 20px;
  }

  .Merge
  {
    flex-direction: column;
    align-items: center;
  }

  .Merge > * {
    min-width: 70%; 
  }

  .skills {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .project-card
  {
    width: 350px;
  }
  .name-container{
    font-size: small;
    margin-right: 0;
    padding-bottom: 20%;
  }
  
  .contact-form-container{
    margin-left:20px;
    margin-right: 20px;
  }

}